@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

* {
  font-family: "opensans";
}
body{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

a {
  text-decoration: none;
  font-weight: bold;
  margin-right: 20px;
  color: #C4E2C0;
  margin: 5px;
}
.collapse ul a:hover { color: #7BC181 !important; }
.active {
  color: #7BC181;
  font-size: larger;
  margin: 20px;
}


.navbar-brand{
  font-weight: bold;
  color: #7BC181;
  margin-left: 10px;
  font-size: 30px;
}
.navbar-light{
  color: #7BC181;
}

.logo{
  width: 80px;
  margin-right: 20px;
}
.homeContainer{
  background-image: url("../public/assesst/homepage1.png");
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 100px;
}
.LogoHeader{
  width: 50%;
  object-fit: cover;
}

.WelcomeSen{
  margin-top: 30px;
  margin-left: 40px;
  font-weight: 500;
  font-style: italic ;
}
.CompanyTitle{
  margin-left: 60px;
  font-weight: bold;
  
}
.CompanyTitle span
 {
  color: #7BC181;
  
}
.Ptext{
  margin-left: 40px;
  margin-top: 20px;
  line-height: 35px;
  font-weight: 400;
  font-family: "opensans";
  font-size: 24px;
  color: #4C9552;
}
.SecondSections{

  background-color: #C4E2C0;
  width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
  
}
.WhoContainer{
  margin-top: 30px;
  padding: 10px;
  width: auto;
  
}
.whotitle{
  margin-top: 20px;
  margin-left: 40px;
  font-weight: bold;
  font-family: "opensans";
}
.TextWho{
  margin-top: 10px;
  margin-left: 50px;
  font-style: italic;
  margin-top: 20px;
  line-height: 35px;
  font-weight: 400;
  font-family: "opensans";
  font-size: 24px;

}
.WhoImg{
width: 100%;
border-radius: 15px;
margin: 10px;
}
.WhoImg2{
  width: 100%;
border-radius: 15px;
margin: 10px;
}

.Product1Ttile{
  margin-left: 80px;
  margin-top: 30px;
  font-weight: bold;
  color: #7BC181;
  font-family: "opensans";

}
.Product1Text{
  margin-left: 90px;
  margin-top: 10px;
  margin: 20px;
  
  line-height: 35px;
  font-weight: 400;
  font-family: "opensans";
  font-size: 24px;
}
.ProductImg1{
  width: 100%;
  margin-top: 10px;
  margin-right: 20px;
  margin: 20px;
}
.ProductsCardContainer{
 
  width: auto;
 
}

.carousel-item img{
  height: 300px;
  object-fit: cover;
  width: auto;
}

.card{
margin: 20px;

}
.card-img-top{
  height: 250px;
}
.OurSpecialtyP{
  
  font-family: "opensans";
  text-align: left;
  margin-left: 40px;
  height: 300px;
  
  
}
.OurMissionImg{
  height: 300px;
  object-fit: cover;
}
.FollowTitle{
  font-weight: bolder;
  font-size: 50px;
  color: #4C9552;
  padding: 20px;
  font-family: "opensans";
}
.socialDiv{
  width: 300px;
  height: 100px;
  background-color: white;
  border-radius: 20px;
  margin: 30px;
}

.LogoFooter{
  width: 200px;
  height: 200px;
  object-fit: contain;
  align-items: flex-end;
  background-color: white;
}
.FoteerContainer{
  
  background-color: #4C9552;
  margin-bottom: 0px;
  margin-top: 20px;
  
}
.FoteerContainer h3{
  font-weight: bold;
  color: white;
  margin-left: 10px;
  margin-bottom: 0px;
  
}
.FoteerContainer h1{
  font-weight: bold;
  color: white;
  margin-bottom: 0px;
  
  
}
.FoteerContainer p{
  margin: 10px;
  color: rgb(0, 0, 0);
  
  
  
}
.whoFotter{
  font-weight: bold;
  color: white;
  margin-left: 15px;
  margin-bottom: 0px;
  
}
.FoteerContainer ul{
  text-decoration: none;
}
.FoteerContainer ul li{
  list-style: none;
  font-weight: 600;
  color: white;
}
.icon{
  width: 30px;
  height: 30px;
  margin-right: 5px;
  margin-top: 20px;
  color: white;
  
}
.iconHero{
  width: 30px;
  height: 30px;
  margin-left: 5px;
  color: white;
  
}

.HeroImage{
  width: 100%;
  object-fit: cover;
}
.titleHero h1{
  font-family: 'Open Sans';
font-style: normal;
font-weight: 700;
font-size: 72px;
line-height: 70px;
margin-left: 30px;
margin-top: 30px;
color: #4C9552;
}
.titleHero p{
  font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 25px;
line-height: 44px;
/* or 176% */

letter-spacing: 0.445833px;
margin-left: 40px;
margin-top: 20px;
}
.HeroButton{
  margin-left: 40px;
  font-weight: bold;
  font-size: 20px;
}